{% extends 'base.html.twig' %}

{% block title %}PortFolio | Veille Technologique | De Nos Jours{% endblock %}

{% block body %}
<div class="jumbotron text-center">
    <h1 class="mt-3">De nos jours</h1>
</div>
{% endblock %}
