{% extends 'base.html.twig' %}

{% block title %}PortFolio | Veille Technologique | Organisation{% endblock %}

{% block body %}
    <div class="jumbotron text-center">
        <h1 class="mt-3">Organisation</h1>
        <p class="mt-4">
            Analyser l'organisation des services Cloud pour assurer flexibilité, performance et disponibilité
        </p>
    </div>

    <div class="definition mt-5">
        <h2>I. Présentation</h2>
    </div>

    <div class="container mt-5">
        <div class="row align-items-center gx-5">
            <div class="col-md-6">
                <div class="ratio ratio-16x9">
                    <iframe height = "300" width = "550" src="https://www.youtube.com/embed/RwbIMBSr8o8?si=IYiSQRfI_RGET6JV" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
            </div>

            <div class="col-md-6 d-flex flex-column justify-content-center">
                <div class="cloud-text">
                    <p class="text-center">
                        En <strong>France</strong>, <strong>Arnaud Montebourg</strong> a lancé 34 plans de <strong>reconquête industrielle</strong>, et l'un de ces plans
                        concerne justement le Cloud Computing. Ce plan repose notamment sur dix <strong>mesures</strong> précises qui vont ainsi permettre de <strong>développer</strong>
                        le Cloud Computing en France.

                        {# L'ensemble des mesures devrait être déployé cette année. #}
                    </p>

                    <div class="d-flex justify-content-center gap-3 mt-3">
                        <img class="img-fluid" src=" {{asset('Découverte/Ordinateur.png')}} " alt="Ordinateur">
                        <img class="img-fluid" src=" {{asset('Découverte/Nuage.png')}} " alt="Nuage">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="definition mt-5">
        <h2>II. Arnaud Montebourg</h2>
    </div>

    <div class="container mt-5">
        <div class="col-md-6 d-flex flex-column justify-content-center">
            <div class="cloud-text">
                <p class="text-center">
                    Arnaud Montebourg est un avocat, entrepreneur et homme politique français.

C'est en 1985 qu'il adhère au PS, ou Parti Socialiste. Il est alors député à l'Assemblée Nationale, élu dans la sixième circonscription de Saône-et-Loire, de 1997 à 2012. Il est également président du Conseil Général de Saône-et-Loire de 2008 à 2012.
À partir du Congrès de Reims de 2008, il est Secrétaire national du Parti Socialiste chargé de la rénovation.
Arrivé en troisième position du premier tour de la primaire citoyenne de 2011, il est nommé, l'année suivante, Ministre du Redressement productif dans les gouvernements Ayrault. Il devient Ministre de l'Économie, du Redressement productif et du Numérique dans le premier gouvernement Valls, en avril 2014 ; critique envers l'action du gouvernement, il quitte ses fonctions en août suivant lors de la formation du second gouvernement Valls. Il est candidat à la primaire citoyenne de 2017, où il termine troisième au premier tour.
À partir de 2017, retiré de la vie politique, il crée plusieurs entreprises dans le domaine de l'agro-alimentaire. Il annonce en 2021 sa candidature à l'élection présidentielle de 2022, avant de se retirer trois mois avant le scrutin.
                </p>

                <div class="d-flex justify-content-center">
                    <img class="img-fluid" src=" {{asset('Découverte/Ordinateur.png')}} " alt="Ordinateur">
                </div>
            </div>
        </div>
    </div>

    <div class="definition mt-5">
        <h2>III. Ressources</h2>
    </div>

    <div class="container mt-5">
        <table class="table table-hover table-sm text-center align-middle" style="table-layout: fixed;">
            <colgroup>
                <col style="width: 15%">
                <col style="width: 60%">
                <col style="width: 25%">
            </colgroup>

            <thead>
                <tr class="table-active">
                    <th scope="col">Documents</th>
                    <th scope="col">Lien</th>
                    <th scope="col">Date de publication</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>
                        <div class="content">
                            <a href="http://www.generation-nt.com/plan-cloud-computing-arnaud-monterbourg-10-mesures-actualite-1891532.html">
                                Cloud Computing : Arnaud Monterbourg présente ses 10 mesures
                            </a>
                        </div>
                    </td>
                    <td>
                        09 juin 2014
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
